<!DOCTYPE html>
<html>
<head>
	<title> Pets </title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
	
	<%/* NAVBAR BEGINNING */%>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Pets</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="/">Home</a></li>
	      <li><a href="/pets/new">New Pet</a></li>
	    </ul>
	  </div>
	</nav>

	<%/* NAVBAR END */%>